/* “y—j“ú */
.fc-sat {
    color: blue;
    background-color: #f0f0ff;
}
/* “ú—j“ú */
.fc-sun {
    color: red;
    background-color: #fff0f0;
}
.datepicker {
	background-color: #fff;
	border: 1px solid #66AFE9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.datepicker a,
.datepicker a:hover {
	text-decoration: none;
}
.datepicker a:hover,
.datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.datepicker .datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.datepicker .datepicker-title {
	font-weight: 700;
}
.datepicker .datepicker-prev,
.datepicker .datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
}
.datepicker .datepicker-prev {
	float: left;
	text-align: left;
}
.datepicker .datepicker-next {
	float: right;
	text-align: right;
}
.datepicker .datepicker-prev:before {
	content: "\e079";
}
.datepicker .datepicker-next:before {
	content: "\e080";
}
.datepicker .icon {
	display: none;
}
.datepicker .datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.datepicker .datepicker-calendar th,
.datepicker .datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.datepicker .datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.datepicker .datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.datepicker .datepicker-calendar td a {
	text-decoration: none;
}
.datepicker .datepicker-current-day {
	background-color: #4289cc;
}
.datepicker .datepicker-current-day a {
	color: #fff
}
.datepicker .datepicker-calendar .datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}

.month:hover
{
	background-color: #eee;
	cursor: pointer;
}
.prev:hover
{
	background-color: #eee;
	cursor: pointer;
}
.next:hover
{
	background-color: #eee;
	cursor: pointer;
}
.datepicker-switch:hover
{
	background-color: #eee;
	cursor: pointer;
}

